@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
html{
    width: 100%;
    height: 100vh;
}
header{
    padding: min(5vh, 10rem);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: #b4a68e;
    width: 100%;
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 0 10px 20px wheat;
}
header i{
    font-size: 1.7em;
}
#section1{
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(img/the-interior-of-the-1508273_1280.jpg);
    padding: min(35vh, 50rem);
    text-align: center;
    font-weight: 900;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.7;
    width: 100%;
}
#section2{
    background-color: #f3daaa;
    padding: min(30vh, 30rem);
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
#section2 img{
    width: 16rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}
#section3{
    background-color: #f3daaa;
    padding: min(30vh, 30rem);
    text-align: center;
    align-items: center;
    gap: 20px;
}
.divpai{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    position: relative;
}
.card{
    width: 200px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
    background-color: #b4a68e;
}
.content{
    padding: 20px;
    text-align: center;
    transform: translateY(50px);
    opacity: 0.2;
    transition: 0.7s;
}
.content:hover{
    opacity: 1;
    transform: translateY(0px);
}
.content h2{
    position: absolute;
    right: 30px;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.453);
}
.content p{
    font-size: 1.1em;
    z-index: 1;
    margin-top: 80px;
    margin-bottom: 90px;
}
.content a{
    padding: 8px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 5px 15px black;  
    color: black;  
}
footer{
    padding: min(3vh, 10rem);
    background-color: blanchedalmond;
    
}
footer h2{
    margin-left: 43vw;
}
footer div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}
footer .icones{
    gap: 30px;
    font-size: 30px;
}
@media(max-width:873px){
    header{
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    header .fa-whatsapp{font-size: 38px;}
    #section1{
        padding: 3rem;
        background: linear-gradient(180deg, #0c16a394 8.33%, rgba(5, 39, 101, 0.859) 100%), url(img/the-interior-of-the-1508273_1280.jpg);
        color: rgb(0, 0, 0);
    }
    #section2{
        padding: 3rem;
        display: flex;
        flex-direction: column;
    }
    #section3{
        padding: 3rem;
    }
    footer{
        padding: 1rem;
    }
    footer h2{
        margin-left: 30vw;
        margin-bottom: 20px;
    }
    footer .icones{
        gap: 5px;
        margin-left: 10px;
        font-size: 30px;
    }

}